<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--映射接口-->
<mapper namespace="com.hr.chenshengfeng.mapper.UserMapper">
    <select id="selectUserOne" parameterType="com.hr.chenshengfeng.model.User" resultType="com.hr.chenshengfeng.model.User">
        SELECT * from USER WHERE 1=1
        <if test="username!=null">
          AND username=#{username}
        </if>
        <if test="password!=null">
            AND  password=#{password}
        </if>
    </select>

</mapper>